<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AudioDAO" >
  <resultMap id="BaseResultMap" type="com.baizhi.entity.Audio" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="tittle" property="tittle" jdbcType="VARCHAR" />
    <result column="coverImg" property="coverimg" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="broadCast" property="broadcast" jdbcType="VARCHAR" />
    <result column="brief" property="brief" jdbcType="VARCHAR" />
    <result column="publishDate" property="publishdate" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, tittle, coverImg, count, score, author, broadCast, brief, publishDate
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from chi_audio
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!-- 查所有 -->
  <resultMap id="ACMap" type="com.baizhi.entity.Audio" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="tittle" property="tittle" jdbcType="VARCHAR" />
    <result column="coverImg" property="coverimg" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="broadCast" property="broadcast" jdbcType="VARCHAR" />
    <result column="brief" property="brief" jdbcType="VARCHAR" />
    <result column="publishDate" property="publishdate" jdbcType="TIMESTAMP" />
    <collection property="children" ofType="Chapter">
      <id column="cid" property="id"/>
      <result column="ctittle" property="tittle"/>
      <result column="csize" property="size"/>
      <result column="cduration" property="duration"/>
      <result column="cdownPath" property="downpath"/>
      <result column="cuploadDate" property="uploaddate"/>
    </collection>
  </resultMap>
  <select id="selectAll" resultMap="ACMap">
    SELECT a.id,a.tittle,a.coverImg,a.count,a.score,a.author,a.broadCast,a.brief,a.publishDate,
           c.id cid,c.tittle ctittle,c.size csize,c.duration cduration,c.downPath cdownPath,c.uploadDate cuploadDate
    FROM chi_audio a
    LEFT JOIN chi_chapter c
    ON c.audioId=a.id
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from chi_audio
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.baizhi.entity.Audio" >
    insert into chi_audio (id, tittle, coverImg, 
      count, score, author, 
      broadCast, brief, publishDate
      )
    values (#{id,jdbcType=VARCHAR}, #{tittle,jdbcType=VARCHAR}, #{coverimg,jdbcType=VARCHAR}, 
      #{count,jdbcType=INTEGER}, #{score,jdbcType=DOUBLE}, #{author,jdbcType=VARCHAR}, 
      #{broadcast,jdbcType=VARCHAR}, #{brief,jdbcType=VARCHAR}, #{publishdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baizhi.entity.Audio" >
    insert into chi_audio
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tittle != null" >
        tittle,
      </if>
      <if test="coverimg != null" >
        coverImg,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="broadcast != null" >
        broadCast,
      </if>
      <if test="brief != null" >
        brief,
      </if>
      <if test="publishdate != null" >
        publishDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tittle != null" >
        #{tittle,jdbcType=VARCHAR},
      </if>
      <if test="coverimg != null" >
        #{coverimg,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="broadcast != null" >
        #{broadcast,jdbcType=VARCHAR},
      </if>
      <if test="brief != null" >
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null" >
        #{publishdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baizhi.entity.Audio" >
    update chi_audio
    <set >
      <if test="tittle != null" >
        tittle = #{tittle,jdbcType=VARCHAR},
      </if>
      <if test="coverimg != null" >
        coverImg = #{coverimg,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="broadcast != null" >
        broadCast = #{broadcast,jdbcType=VARCHAR},
      </if>
      <if test="brief != null" >
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null" >
        publishDate = #{publishdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.Audio" >
    update chi_audio
    set tittle = #{tittle,jdbcType=VARCHAR},
      coverImg = #{coverimg,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      score = #{score,jdbcType=DOUBLE},
      author = #{author,jdbcType=VARCHAR},
      broadCast = #{broadcast,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR},
      publishDate = #{publishdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>