<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.Pic_LogDAO">

    <insert id="insert" parameterType="Pic_Log" flushCache="true">
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into pic_log(t_name,t_thing,t_time,t_result)
        VALUES (#{t_name},#{t_thing},#{t_time},#{t_result})
    </insert>
</mapper>
